* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
p {
  line-height: 1.5;
}
body {
  --at-apply: text-slate-950 font-sans;
  font-weight: 400;
  min-height: 100vh;
  user-select: none;

  background-image:
    linear-gradient(#fffc),
    radial-gradient(at 50% 50%, #9b99e0ff, #9b99e000 70%),
    conic-gradient(
      from -45deg at 50% 50%,
      #72aad9,
      #e2d6dd,
      #b03cac,
      #0609a5,
      #72aad9
    );
}

a {
  --at-apply: text-blue-600 underline;
}

code {
  --at-apply: font-mono bg-white/70 text-slate-900 rounded px-1;
}

.button {
  --at-apply: bg-white/70 backdrop-blur-md rounded-lg shadow-slate-400/30
    shadow-md border-solid border-2 border-slate-200 px-4 py-2 no-underline;
  &.primary {
    --at-apply: bg-blue-50/70 shadow-blue-400/30 border-blue-200 text-blue-600;
  }
  &.success {
    --at-apply: bg-green-50/70 shadow-green-400/30 border-green-300 text-green-600;
  }
  &.danger {
    --at-apply: bg-pink-50/70 shadow-pink-400/30 border-pink-200 text-pink-600;
  }
  &.warning {
    --at-apply: bg-yellow-50/70 shadow-amber-500/30 border-amber-300
      text-yellow-600;
  }
  &.error {
    --at-apply: bg-red-50/70 shadow-red-400/30 border-red-200 text-red-600;
  }

  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;

  &:not(:disabled):hover {
    --at-apply: bg-white/50 shadow-blue/40 shadow-md;

    &.primary {
      --at-apply: bg-blue-50/50 shadow-blue/50;
    }
    &.success {
      --at-apply: bg-green-50/50 shadow-green/50;
    }
    &.danger {
      --at-apply: bg-pink-50/50 shadow-pink/50;
    }
    &.warning {
      --at-apply: bg-yellow-50/50 shadow-amber/60;
    }
    &.error {
      --at-apply: bg-red-50/50 shadow-red/50;
    }
  }

  &:disabled,
  &.disabled {
    --at-apply: cursor-not-allowed opacity-70 shadow-sm text-slate-400;
  }
}

.card {
  --at-apply: bg-white/70 backdrop-blur-md rounded-lg shadow-blue/20 shadow-md
    p-4 no-underline;

  &.primary {
    --at-apply: bg-blue-50/70 shadow-blue/30;
  }
  &.success {
    --at-apply: bg-green-50/70 shadow-green/30;
  }
  &.danger {
    --at-apply: bg-pink-50/70 shadow-pink/30;
  }
  &.warning {
    --at-apply: bg-yellow-50/70 shadow-amber/40;
  }
  &.error {
    --at-apply: bg-red-50/70 shadow-red/30;
  }
}

input {
  --at-apply: text-sm;

  &::placeholder {
    --at-apply: text-slate-400;
  }
}

.color-transition {
  --at-apply: transition-colors duration-300;
}
