:root {
  --vp-sidebar-bg-color: transparent;
}

.VPSidebar {
  --c-sidebar-background: #fff;
  background-image:
    linear-gradient(color-mix(in srgb, var(--c-sidebar-background) 80%, transparent) 0 100%),
    radial-gradient(at 50% 50%, #9b99e0ff, #9b99e000 70%),
    conic-gradient(
      from -45deg at 50% 50%,
      #72aad9,
      #e2d6dd,
      #b03cac,
      #0609a5,
      #72aad9
    );
}

.dark {
  .VPSidebar {
    --c-sidebar-background: #111827;
  }
}
